//Tee Times on Dashboard

.total-container {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 15rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
}

.sidebar-links {
  margin: auto;
  padding: 25px;
  width: 100%;
}

.sidebar-link {
  margin: 25px;
}

.booking-details {
  width: 85rem;
}

.coming-soon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

//TeeSheet on Dashboard

.teesheet-container {
  width: 100%;
}

.teesheet {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: left;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: #F7F7F7;
  max-height: 75px;
  margin-left: 10px;
  margin-right:  10px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
}

.teesheet-time-total {
  display: flex;
  width: 25%;
}

.teesheet-player-total {
  display: flex;
  width: 25%;
}

.teesheet-user-total {
  display: flex;
  width: 25%;
}

.teesheet-button-total {
  width: 25%;
  display: flex;
  justify-content: center;
}

.teesheet-icon {
  font-size: 1.5rem;
  margin-right: 15px;
  color: #0066CC;
}

.teesheet-info {
  font-size: 1.5rem;
}



.date-picker {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

//Checkin PopUp

.checkin-popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.checkin-popup {
  display: grid;
  align-items: center;
  background-color: #F7F7F7;
  border: 1px solid gray;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
}

.checkin-popup-time {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.teesheet-checkmark {
  font-size: 3rem;
  color: #1A8753;
}

.checkin-popup-button {
  display: flex;
  justify-content: center;
}
