//Tee Times on Dashboard

.total-container {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 15rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
}

.sidebar-links {
  margin: auto;
  padding: 25px;
  width: 100%;
}

.sidebar-link {
  margin: 25px;
}

.booking-details {
  width: 85rem;
}

.coming-soon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

//TeeSheet on Dashboard

.teesheet-container {
  width: 100%;
}

.teesheet {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: left;
  border: solid;
  border-radius: 8px;
  background-color: #F7F7F7;
  justify-content: space-around;
}

.teesheet-info {
  margin-right: 150px;
}

.teesheet-icon {
  margin-right: 10px;
}
