// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.userdash-detail-container {
  width: 85rem;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 750px;
  overflow: auto;
}

.post-picture-container {
  display: grid;
  justify-content: center;
  margin: auto;
}

.post-content-container {
  display: grid;
  justify-content: center;
  margin: auto;
  width: 40rem;
  text-align: justify;
  font-size: 30px;
  background: #F7F7F7;
  border-radius: 1.5rem;
  padding: 20px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
}

.post-container {
  margin: 50px;
}

.posts-container {
  display: flex;
  max-width: 75rem;
  margin: 20px;
  justify-content: center;
}

.post-picture {
  width: 35rem;
  height: 35rem;
  background: #c8c8c8;
  border-radius: 1.5rem;
  object-fit: cover;
  margin-bottom: 50px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
}

.total-posts-container {
  width: 100%;
  display: flex;
  height: auto;
}

// Booked teetimes CSS

.booked-times-container {
  width: 100%;
  margin: 50px;
}

.checkedin-container {
  display: grid;
  justify-content: center;
}

.checkin-button-blue {
  font-size: 1.5rem;
  margin-bottom: 3px;
  color:#FF9D62
}

.checkin-button-green {
  font-size: 1.5rem;
  margin-bottom: 3px;
  color: #1A8753
}
