<h1>Members</h1>
<% @users.map do |user| %>
  <h2><%= user.name %></h2>
  <p><%= user.handicap %></p>
  <p><%= user.age %></p>
  <%= button_to "Connect", user_friendships_path(user), :method => :post%>
<% end %>
