<h1>Members</h1>
<% @users.map do |user| %>
  <h2><%= user.name %></h2>
  <p><%= user.handicap %></p>
  <p><%= user.age %></p>
  <%= button_to "Connect", map_user_to_friends_path(user, @friend), :method => :post%>
<% end %>
