<div id='root3'>
  <%= javascript_pack_tag 'index3' %>
</div>
<div class="navbar-footer">
  <div class="navbar-footer-links">
    <% if user_signed_in? %>
      <a><%= link_to "Dashboard", user_dashboard_path %></a>
    <% else %>
      <a><%=link_to "Sign In", new_user_session_path %></a>
      <a><%=link_to 'About', about_path%></a>
    <% end %>
  </div>
</div>
