<h1>Connect Golf</h1>
<h2>This will be a page for explaining the application</h2>
<%=link_to new_user_session_path do %>
  <div type="button" class="btn btn-primary btn-lg">Sign In</div>
<% end %>
<%=link_to destroy_user_session_path do %>
  <div type="button" class="btn btn-primary btn-lg">Log Out</div>
<% end %>
