/* Tiles for buddies that show up after search */

.tiles {
  display: inline-grid;
  align-self: center;
  margin: 10px;
}

.tile {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  backdrop-filter: blur(15px);
  min-height: 240px;
  max-width: 200px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  margin: auto;
}

.tile-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.teetime-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
