<h1><%= @user.club.name %></h1>
<%=link_to users_path do %>
  <div type="button" class="btn btn-primary btn-lg">Members</div>
<% end %>
<%=link_to friendships_path do %>
  <div type="button" class="btn btn-primary btn-lg">Friends</div>
<% end %>
