<h1><%= @user.club.name %></h1>
<h1>News Feed about club tournaments etc...</h1>
<%=link_to users_path do %>
  <div type="button" class="btn btn-primary btn-lg">Members</div>
<% end %>
<%=link_to friendships_path do %>
  <div type="button" class="btn btn-primary btn-lg">Friend Requests</div>
<% end %>

<%=link_to user_path(current_user) do %>
  <div type="button" class="btn btn-primary btn-lg">Friends</div>
<% end %>
