.navbar {
  background-color: #FFFFFF;
  overflow: hidden;
  display: flex;
}

.navbar a {
  float: left;
  color: #666666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

.logo-image {
  height: 100px;
  width: 100px;
}

.navbar-links {
  justify-content: end;
}

.navbar-logo {
  margin-left: 10px;
}

.navbar-footer {
  background-color: #F7F7F7;
  border-top: 1px solid gray;
}

.navbar-footer a {
  float: right;
  color: #0066CC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

.navbar-footer-links {
  justify-content: right;
}
